body,
html {
  width: 1200px;
  height: 1200px;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  background-color: black;
  background-image: url("/img/pk.png");
  background-size: 300px 300px;
  color: white;
}

a:link {
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
}

a:hover,
a:focus-visible {
  text-decoration-style: solid;
}

a:active {
  text-decoration-style: wavy;
  color: inherit;
}

a {
  color: white;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.main {
  margin: 10vh auto;
  padding: 0.5rem;
  text-align: center;
  max-width: 500px;
  height: max-content;
  background-color: rgba(0, 0, 30, 0.6);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
